.label_login{	/*Rótoulo dos formulários*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 11px;
	float: left;
	border-bottom: 1px #e2e2e2 solid;
	width: 78px;
	margin-top:22px;
	margin-left: 20px;
}

.1{
	margin-top:20px;
}

input{
	width:100px;	
}	

#opcoesFiltro a{
	color: #003366;
	font-family: arial , arial, tahoma;
	text-decoration: underline;
	cursor:pointer;
	line-height: 40px;
}

.prop{
	background: #fff;
}
.prop a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0000ff;
	font-size: 11px;
}
.name{
	border-bottom: 1px #e2e2e2 solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 11px;
	float: left;
	width: 150px;
	margin-top:10px;
}

.nameAnexo{
	border-bottom: 1px #e2e2e2 solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 11px;
	width:170px;		
}

.radioAnexo{
	margin-top:12px;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 11px;
	width:330px;	
}

.radioAnexo label{
	font-size: 11px;
	float: none;
	margin-top:0px;
}	


.name2{
	border-bottom: 1px #e2e2e2 solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 11px;
	float: left;
	width: 100px;
	margin-top:10px;
}

.nameEspecificacao{
	border-bottom: 1px #e2e2e2 solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 11px;
	float: left;
	width: 300px;
	margin-top:10px;
}

.value1{
	width: 720px;
}
.value2{
	width: 250px;
}



.input2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 11px;
	width: 230px;
	float: left;
	line-height: 13px;
	margin-top: 20px;
}
.input3{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 11px;
	width: 150px;
	float: left;
	line-height: 13px;
	margin-top: 20px;
}

.inputAnexo{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 11px;
	width: 266px;
	float: left;
	line-height: 13px;
	margin-top: 20px;
}

.inputbusca{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 11px;
	width: 200px;
	float: left;
	line-height: 13px;
	margin-top: 20px;
}

.imagemLupa{

	margin-top: 20px;
	cursor: pointer;
		
}
.inputData2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 11px;
	width: 300px;
	float: left;
	line-height: 13px;
	margin-top: 20px;
}

.inputObs2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 11px;
	width: 230px;
	float: left;
	line-height: 13px;
	margin-top: 5px;
	height: 31px;
}

.select2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 11px;
	width: 237px;
	float: left;
	line-height: 13px;
	margin-top: 20px;
}

.value3{
	width: 200px;
}
.value4{
	
}

.table_form{
	float: left;
	z-index: 1;
	margin-bottom: 20px;
	width: 100%;
}	
#mapa{
	font-family: arial , arial, tahoma;
	font-size: 11px;
	color: #003366;
	float:left;
	width: 700px;
	z-index: 3;
	clear:right;
	margin-bottom: 10px;
	margin-top: 10px;
	background: #fff;
}
#mapa a{
	text-decoration: underline;
	color: #003366;
}

.form_menu{ /*Usado para não distorcer o layout no IE*/
	margin: 0;
	padding:0;
}
h2{ /*Título principal dos formulários*/
	font-family: arial , arial, tahoma;
	font-size: 20px;
	color: #003366;	
	width: 300px;
}
h3{/*Sub-título dos formulários*/
	font-family: verdana, tahoma;
	font-size: 15px;
	color: #5286B8;	
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	clear:left;
}
h4{/*Título sistema*/
	font-family: tahoma;
	font-size: 18px;
	color: #003366;	
	font-weight: bold;
	float:left;
}
.tit{/*Título sistema*/
	font-family: tahoma;
	font-size: 22px;
	color: #003366;	
	font-weight: bold;
	float:left;
	height: 22px;
	margin-left: 10px;
}
.marca_login{
	width: 415px;
	height:410px;
	border: 1px #ccc dotted;
	float:left;
	margin-left: 10px;
	margin-top: 10px;
	}

.checkbox{
	width: 15px;
	margin-left: 0;
}
.aviso_imagem{
	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#3b5f8f;
	font-size:9px;
	width: 292px;
}
.imagem_login{
	float: left;
	margin-top: 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#0066CC;
	font-size:9px;
	width:270px;
	height: 150px;
	border-bottom: 2px #ccc solid;
	border-right: 2px #ccc solid;
	border-top: 1px #ccc solid;
	border-left: 1px #ccc solid;
}
.botao{
	width:130px;
	height:21px;
	color:#ffffff;
	cursor:pointer;
	background-image:url(../imagens/fundo_botao.jpg);
	border: 0;
}

.botao_formulario{
	/*width:130px;
	height:21px;
	color:#ffffff;
	cursor:pointer;
	background-image:url(../imagens/fundo_botao.jpg);
	border: 0;
	float:right;
	margin-right: 5px;*/
	
	color:#ffffff;
	cursor:pointer;
	background-image:url(../imagens/canto_botao.jpg);
	background-position:left;
	background-repeat:no-repeat;
	background-color:#445B86;
	float:right;
	padding-left:10px;
	padding-right:10px;
	border: 0;
	margin-right: 5px;		
}

.botao_tabela{
/*	width:130px;
	height:21px;
	color:#ffffff;
	cursor:pointer;
	background-image:url(../imagens/fundo_botao.jpg);
	border: 0;
	float:right;
	margin-right: 5px;
	margin-bottom: 10px; */
	
	color:#ffffff;
	cursor:pointer;
	background-image:url(../imagens/canto_botao.jpg);
	background-position:left;
	background-repeat:no-repeat;
	background-color:#445B86;
	float:right;
	padding-left:10px;
	padding-right:10px;
	border: 0;
	margin-right: 5px;
			
}
.link_login a{
	width:141px;
	height:21px;
	color:#000;
	cursor:pointer;
	border: 0;
	float:left;
	margin-top: 22px;
	margin-left: 17px;
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
hr{ /*linha cinza pontilhada que fica abaixo do sub-titulo*/
	border: 1px #e2e2e2 dotted;
}
label{	/*Rótoulo dos formulários*/
	font-size: 11px;
	float: left;
	margin-top:15px;
}
.espacoformulario{
	width: 825px;
	background-color: #fff;
	float: left;
	margin-left: 10px;
}

.espacoformulariopopup{
	width: 570px;
	background-color: #fff;
	float: left;
	margin-left: 10px;
}

.msgErro{
	color: red;
}
.mensagem_erro {
	background-color: #d3d3d3;
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	font-weight: normal;
	color: #d90000;
	line-height: 15px;
	width: 760px;;
	float:left;
}
.mensagem_erro a {
	background-color: #d3d3d3;
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	font-weight: bold;
	color: #d90000;
}
.mensagem_erro label {
	font-family: verdana, tahoma, arial;
	border-bottom:none;
	font-size: 11px;
	font-weight: bold;
	text-decoration:underline;
	cursor:pointer;
	color: #d90000;
	padding: 0;
	margin: 0;
}

.icone_erro {
	background-image: url(../imagens/erro.gif);
	background-repeat: no-repeat;
	width: 45px;
	background-color: #d3d3d3;
	height: 35px;
}
.titulo_erro {
	background-color: #d3d3d3;
	border-bottom: 2px #d90000 solid;
	font-family: arial, verdana, tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #d90000;
	vertical-align: bottom;
	line-height: 35px;
	width: 745px;
}
#qr_open{
	color: #d90000;
	background-color: #d3d3d3;
	float:left;
}
.ul_menu li{
	list-style: none;
}
.mensagens{
	padding: 0;
	margin: 0;
	border: 0;
}


<!--ddddddddddddddddddddd -->

.rich-calendar-button{
	cursor:pointer;
	vertical-align:middle;
	margin-top: 18px;
}
